<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinicon">
    <uses-permission android:name="android.permission.INTERNET" /> //Como su nombre indica, pide permisos para poder acceder a la red
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.MiHorario"></activity>
        <activity android:name=".service.Agendar" />
        <activity android:name=".service.VerDoctor" />
        <activity android:name=".service.VerPacientes" />
        <activity android:name=".service.MenuDoctor" />
        <activity android:name=".service.MenuUsuario" />
        <activity android:name=".service.RegistroUsuario2" />
        <activity android:name=".service.RegistroUsuario" />
        <activity android:name=".service.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>